.favoritesWrapper {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    padding: 25px 0;
}

.favoritesWrapper > a {
    text-decoration: none;
    color: inherit;
}

.favoriteItem:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 25px;
    right: 25px;
    height: 25px;
    background: #FCF8F3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.favoriteItem:after {
    content: "";
    position: absolute;
    z-index: 5;
    top: -35px;
    left: calc(50% - 8px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFEBD8;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .3), 0 0 0 18px #FCF8F3;
}

.favoriteItem {
    position: relative;
    min-width: 200px;
    min-height: 250px;
    margin: 15px;
    padding: 20px 20px 40px;
    border-radius: 20px;
    background: #FCF8F3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.favoriteItem > div {
    padding: 10px 0;
}