@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');

.weather-item__top-part {
    display: block;
    min-height: 150px;
}

.city-details {
    width: 100%;
    display: flex;
}

.city-details__image {
    max-width: 75px;
    margin-right: 10px;
}

.city-details__image img {
    max-width: 100%;
}

.city-details__description {
    flex-grow: 2;
    padding: 0 10px;
    font-weight: bold;
}

.weather-item__description .weather-icon {
    max-width: 80px;
}

.city-details__name {
    margin: 10px 0;
    font-size: 22px;
    color: #2e2e2e;
    font-weight: bold;
}

.city-details__value {
    margin: 10px 0;
    font-size: 16px;
    color: #505050;
}

.weather-item__description {
    padding: 25px 0;
    text-align: center;
    font-weight: bold;
    font-size: 3.2em;
}

.weather-item__description > span {
    vertical-align: super;
    padding-left: 25px;
    font-family: 'Yeon Sung', cursive;
}

.weather-item {
    background-color: #f3d0ae;
    margin: 25px 0;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
}

.weather-item__bottom-part {
    display: block;
    min-height: 100px;
    width: 100%;
}

.weatherDailyWrapper {
    margin: 45px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dailyItem:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 25px;
    right: 25px;
    height: 25px;
    background: #FCF8F3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dailyItem:after {
    content: "";
    position: absolute;
    z-index: 5;
    top: -35px;
    left: calc(50% - 8px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f3d0ae;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .3), 0 0 0 18px #FCF8F3;
}

.dailyItem {
    position: relative;
    min-width: 200px;
    min-height: 250px;
    margin: 15px 15px 45px;
    padding: 20px 20px 10px;
    border-radius: 20px;
    background: #FCF8F3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

