@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 16px Lato,sans-serif;
  line-height: 1;
}

p, h1, h2, h3 {
  margin: 10px 0;
  color: #c1812d;
  text-shadow: 1px 1px 2px;
}

p {
  font-size: 19px;
  text-shadow: none;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

.application {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgba(131, 129, 129, 0.5);
}

.application-header,
.application-footer,
.application-body {
  margin: 0 10px;
  box-shadow: 0 0 5px 1px rgba(0,0,0, 0.25);
  padding: 15px 10px;
  background-color: #FFEBD8;
}

.application-header {
  padding: 0;
}

.application-body {
  overflow: auto;
  flex-grow: 1;
  margin: 5px 10px;
}

.application-footer {
  flex-basis: 50px;
}
