.dailyDetails {
    padding: 5px 0;
}

.dailyDetails .title {
    font-size: 12px;
    font-weight: bold;
}

.dailyDetails img {
    max-width: 45px;
}

.dayTime {
    font-weight: normal;
    margin-bottom: 10px;
}

.nightTime {
    font-weight: normal;
}